.blob {
  width: clamp(200px, calc(300vw/7.68), 500px);
  height: clamp(200px, calc(300vw/7.68), 500px);
  transform: translate(-25%, -25%);
  transition: opacity .5s;
  z-index: -2;
  opacity: .1;
  filter: blur(32px);
  svg {
    width: auto;
    height: auto;
    transform-origin: center;
  }
}
.cursor,
.blob {
  position: fixed;
  pointer-events: none;
  @media (pointer: coarse) {
    display: none;
  }
}
.cursor {
  transform: translate(-50%, -50%);
  z-index: 10;
  mix-blend-mode: multiply;
  overflow: visible;
  rect {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform .4s var(--easing);
  }
}