.wrapper {
  width: clamp(200px, calc(300vw/7.68), 500px);
  height: clamp(200px, calc(300vw/7.68), 500px);
  position: fixed;
  z-index: -2;
  pointer-events: none;
  transform: translate(-25%, -25%);
  transition: opacity .5s;
  svg {
    filter: blur(32px);
    width: auto;
    height: auto;
    transform-origin: center;
    animation: rotate 10s infinite linear;
    @keyframes rotate {
      50% {
        opacity: .8;
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  @media (pointer: coarse){
    display: none;
  }
}