.cursor,
.blob {
  position: fixed;
  pointer-events: none;
  @media (pointer: coarse) {
    display: none;
  }
}
.cursor {
  transform: translate(-50%, -50%);
  z-index: 10;
  mix-blend-mode: multiply;
  overflow: visible;
  rect {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform .4s var(--easing);
  }
}

.blob {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -2;
  opacity: .60;
  transition: opacity .4s;
  filter: url(#goo) blur(40px);
  #goo {
    display: none;
  }
  svg {
    width: clamp(300px, calc(500vw/7.68), 600px);
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    &:nth-child(1){
      animation: blob1 20s infinite linear;
      @keyframes blob1 {
        0%, 100% {
          transform: translate(calc(50vw - 50%), -50%);
        }
        20% {
          transform: translate(calc(65vw - 50%), calc(20vh - 50%));
        }
        40% {
          transform: translate(calc(90vw - 50%), calc(50vh - 50%));
        }
        60% {
          transform: translate(calc(50vw - 50%), calc(25vh - 50%));
        }
        80% {
          transform: translate(calc(30vw - 50%), calc(60vh - 50%));
        }
      }
    }
    &:nth-child(2){
      animation: blob2 25s infinite linear;
      @keyframes blob2 {
        0%, 100% {
          transform: translate(calc(50vw - 50%), calc(50vh - 50%));
        }
        20% {
          transform: translate(calc(50vw - 50%), calc(80vh - 50%));
        }
        40% {
          transform: translate(calc(20vw - 50%), calc(80vh - 50%));
        }
        60% {
          transform: translate(calc(10vw - 50%), calc(90vh - 50%));
        }
        80% {
          transform: translate(calc(80vw - 50%), calc(80vh - 50%));
        }
      }
    }
    &:nth-child(3){
      animation: blob3 15s infinite linear;
      @keyframes blob3 {
        0%, 100% {
          transform: translate(calc(60vw - 50%), calc(50vh - 50%));
        }
        20% {
          transform: translate(calc(55vw - 50%), calc(40vh - 50%));
        }
        40% {
          transform: translate(calc(25vw - 50%), calc(60vh - 50%));
        }
        60% {
          transform: translate(calc(10vw - 50%), calc(50vh - 50%));
        }
        80% {
          transform: translate(calc(25vw - 50%), calc(25vh - 50%));
        }
      }
    }
  }
}
