.wrapper {
  display: inline-flex;
  max-width: 100%;
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px calc(34em/16);
    display: inline-block;
    background: linear-gradient(var(--neutral-100), var(--neutral-100)) padding-box,
                linear-gradient(45deg, #00C2B5, #D2FB67, #D2FB67) border-box;
    animation: animation 2.5s infinite;
    background-size: 200%;
    background-position-x: 0%;
    @keyframes animation {
      50% {
        background-position-x: 100%;
      }
    }
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
  }
  svg {
    align-self: flex-end;
    margin: 0 -1.4px 2.5px;
    flex-shrink: 0;
  }
}