.wrapper {
  display: grid;
  align-items: flex-start;
  gap: 32px;
  @media (min-width: 900px){
    grid-template-columns: .5fr 1fr;
  }
  @media (min-width: 1050px){
    grid-template-columns: 1fr 1fr;
  }
  .list {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(8px);
    padding: var(--pageMargin);
    margin: calc(var(--pageMargin) * -1);
    display: grid;
    gap: clamp(48px, calc(64vw/7.68), 80px);
    li {
      list-style-type: none;
    }
    h2 {
      font-size: clamp(calc(24rem/16), calc(48vw/7.68), calc(48rem/16));
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: clamp(4px, calc(8vw/7.68), 12px);
      margin: clamp(12px, calc(12vw/7.68), 16px) 0 clamp(16px, calc(20vw/7.68), 28px);
      li {
        padding: 4px clamp(28px, calc(36vw/7.68), 36px);
        font-size: clamp(calc(14rem/16), calc(20vw/7.68), calc(20rem/16));
        border-radius: 200px;
        border: 1px solid var(--neutral-900);
      }
    }
  }
  .render {
    pointer-events: none;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:has(div)){
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,.4);
        opacity: 0;
        animation: opacity 1s infinite;
        @keyframes opacity {
          50% {
            opacity: 1;
          }
        }
      }
    }
    svg {
      width: 80%;
      height: 80%;
      position: absolute;
      z-index: -1;
    }
    @media (max-width: 899px){
      width: calc(100% + (var(--pageMargin) * 2));
      margin: -50% 0;
      margin-left: calc(var(--pageMargin) * -1);
      margin-right: calc(var(--pageMargin) * -1);
      > div {
        width: 100% !important;
        aspect-ratio: 1/1;
        height: auto !important;
      }
    }
  }
}
a.button {
  position: fixed !important;
  max-width: calc(100% - (clamp(16px, calc(24vw/7.68), 42px) * 2));
  bottom: clamp(16px, calc(24vw/7.68), 42px);
  right: clamp(16px, calc(24vw/7.68), 42px);
  z-index: 8;
  transition: transform .6s var(--easing);
  &:not(.visible) {
    transform: translateY(calc(100% + clamp(16px, calc(24vw/7.68), 42px)));
  }
  &:focus {
    transform: translateY(0);
  }
}