.wrapper {
  display: grid;
  @media (min-width: 1000px){
    grid-template-columns: 1fr 1fr;
  }
  .list {
    display: grid;
    gap: clamp(48px, calc(64vw/7.68), 80px);
    li {
      list-style-type: none;
    }
    h2 {
      font-size: clamp(calc(24rem/16), calc(48vw/7.68), calc(48rem/16));
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: clamp(4px, calc(8vw/7.68), 12px);
      margin: clamp(12px, calc(12vw/7.68), 16px) 0 clamp(16px, calc(20vw/7.68), 28px);
      li {
        padding: 4px clamp(28px, calc(36vw/7.68), 36px);
        font-size: clamp(calc(14rem/16), calc(20vw/7.68), calc(20rem/16));
        border-radius: 200px;
        border: 1px solid var(--neutral-900);
      }
    }
  }
  .button {
    position: fixed;
    bottom: clamp(16px, calc(24vw/7.68), 42px);
    right: clamp(16px, calc(24vw/7.68), 42px);
    z-index: 8;
    transition: transform .6s var(--easing);
    &[aria-hidden="true"] {
      transform: translateY(calc(100% + clamp(16px, calc(24vw/7.68), 42px)));
    }
    &:focus {
      transform: translateY(0);
    }
  }
}