.wrapper {
  a, button {
    z-index: 2;
    position: relative;
    &[data-theme="primary"] {
      --btn-color: #14E5D7;
      &[data-variant="secondary"] {
        --btn-color: #EBFFB6;
        .arrow {
          path {
            fill: url(#button-arrow-secondary);
          }
        }
        span {
          background: var(--gradients-100) !important;
        }
      }
      display: inline-flex;
      @media (max-width: 499px){
        display: flex;
        width: 100%;
        span {
          flex-grow: 1;
        }
      }
      align-items: center;
      height: 52px;
      span {
        height: 100%;
        padding: 0 26px;
        border-radius: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #00C2B5, var(--btn-color));
      }
      position: relative;
      .fill {
        width: 52px;
        height: 52px;
        position: absolute;
        right: 24px;
        top: 0;
        overflow: hidden;
        z-index: -1;
        &::before {
          content: '';
          width: 150%;
          height: 150%;
          position: absolute;
          border-radius: 50%;
          left: -25%;
          top: -25%;
          background-color: var(--btn-color);
          transform: translateX(-60%);
          transition: transform .5s .1s var(--easing);
        }
      }
      transition: transform .5s var(--easing);
      &:hover,
      &:focus-within {
        .fill::before {
          transform: translateX(0);
          transition-delay: 0s;
        }
        .arrow {
          transform: translateX(3px);
          transition-delay: .1s;
        }
      }
      .arrow {
        transition: transform .5s 0s var(--easing);
      }
      &:active {
        transform: translateX(5px);
      }
      .connector {
        margin: 0 -3px 0 -1px;
      }
    }
    &[data-theme="secondary"] {
      --btn-color: #14E5D7;
      padding: 0 28px;
      width: 132px;
      height: 42px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(270deg, var(--btn-color), #00C2B5);
      border: 2px solid #fff;
      border-radius: 50px;
      svg {
        position: absolute;
        left: -2px;
        top: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        stroke-dasharray: 310;
        stroke-dashoffset: 310;
        transition: stroke-dashoffset 1s var(--easing);
      }
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 0px 8px 0px #5DFFF4;
        border-radius: inherit;
        opacity: 0;
        transition: opacity .4s;
      }
      &:hover,
      &:focus {
        &::before {
          opacity: 1;
        }
        svg {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}