.wrapper {
  a {
    --btn-color: #14E5D7;
    &[data-theme="primary"] {
      display: inline-flex;
      align-items: center;
      height: 52px;
      span {
        height: 100%;
        padding: 0 26px;
        display: inline-flex;
        align-items: center;
        background: linear-gradient(270deg, var(--btn-color) 0%, #00C2B5 100%);
        position: relative;
        filter: url('#goo');
        &::before {
          content: '';
          width: 52px;
          height: 52px;
          background-color: var(--btn-color);
          position: absolute;
          top: -52px;
          right: calc(0% - 52px);
          z-index: -1;
          top: 0;
          transform: scale(0);
          border-radius: 50%;
          transition: transform .4s;
        }
      }
      &:hover span::before {
        transform: scale(1);
      }
      &:active {
        .arrow {
          transform: scale(1.05);
        }
      }
      .connector {
        margin: 0 -2px;
      }
      .arrow {
        transition: transform .4s;
        z-index: 2;
      }
    }
    &[data-theme="secondary"] {
      padding: 0 28px;
      height: 42px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(270deg, var(--btn-color) 0%, #00C2B5 100%);
      border-radius: 50px;
    }
  }
}