.toggle {
  width: 62px;
  height: 32px;
  border-radius: 50px;
  padding: 2px;
  background-color: var(--neutral-400);
  transition: background-color .4s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--gradients-300);
    opacity: 0;
    transition: opacity .4s;
  }
  &:has(input:checked) {
    &::before {
      opacity: 1;
    }
  }
  input {
    opacity: 0;
    position: absolute;
    &:checked {
       + .dot {
        transform: translateX(30px);
        .tick path {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  &:hover {
    background-color: var(--neutral-500);
  }
  &:active {
    .dot {
      transform: scale(.8);
    }
  }
  .dot {
    border-radius: 50px;
    background: var(--neutral-100);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s;
    .tick path {
      stroke-dasharray: 18;
      stroke-dashoffset: -18;
      transition: stroke-dashoffset .4s;
    }
  }
}