.wrapper {
  overflow: hidden;
  padding: clamp(36px, calc(64vw/7.68), 64px) 0;
  z-index: 3;
  position: relative;
  @media (max-width: 399px){
    padding-bottom: clamp(64px, calc(82vw/7.68), 82px);
  }
  background: linear-gradient(270deg, #14E5D7 0%, #00C2B5 100%);
  .column {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    gap: clamp(64px, calc(80vw/7.68), 80px) clamp(24px, calc(32vw/7.68), 48px);
    margin-bottom: clamp(64px, calc(80vw/7.68), 80px);
    @media (min-width: 900px){
      grid-template-columns: 1fr 1fr;
      .collaborate {
        order: 2;
      }
    }
    .brand {
      max-width: calc(480rem/16);
      a {
        display: inline-block;
        margin-bottom: clamp(16px, calc(28vw/7.68), 36px);
        img {
          width: clamp(240px, calc(278vw/7.68), 278px);
          height: auto;
        }
      }
    }
    .collaborate {
      p {
        font-size: clamp(calc(24rem/16), calc(32vw/7.68), calc(32rem/16));
        margin-bottom: clamp(32px, calc(36vw/7.68), 36px);
      }
      .cta {
        margin: 0 auto;
      }
    }
  }
  .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px 24px;
    p {
      > span {
        background: var(--gradients-100, linear-gradient(25deg, #CFFA5B 28.34%, #EAFFAF 90.52%, #EBFFB6 95.79%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}