.wrapper {
  header {
    text-align: center;
    max-width: calc(768rem/16);
    margin: 0 auto;
    h2 {
      margin: clamp(8px, calc(12vw/7.68), 16px) 0 clamp(16px, calc(20vw/7.68), 28px);
    }
    .paragraph {
      p:not(:last-child){
        margin-bottom: 12px;
      }
      margin-bottom: clamp(28px, calc(36vw/7.68), 48px);
    }
  }
  .projects {
    margin-top: clamp(48px, calc(64vw/7.68), 128px);
    list-style-type: none;
    display: grid;
    gap: clamp(12px, calc(28vw/7.68), 36px);
    .item {
      padding: clamp(20px, calc(36vw/7.68), 36px) clamp(16px, calc(36vw/7.68), 36px);
      border-radius: 28px;
      background: rgba(255, 255, 255, .6);
      backdrop-filter: blur(4px);
      border: 2px solid var(--neutral-300);
      transition: border-color .6s;
      &:hover {
        border-color: #CFFA5B;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 4px 16px;
      .title {
        .word {
          font-size: clamp(calc(24rem/16), calc(24vw/7.68), calc(32rem/16));
          display: inline-block;
          height: 1.3em;
          line-height: 125%;
          overflow: hidden;
        }
        .letter {
          display: inline-block;
          transition: transform .8s var(--easing);
        }
      }
      &:hover,
      &:focus-visible {
        .title .letter {
          transform: translateY(-100%);
        }
      }
      .img {
        display: none;
      }
    }
  }
}