.column {
  display: grid;
  gap: clamp(48px, calc(64vw/7.68), 64px) clamp(62px, calc(62vw/7.68), 84px);
  @media (min-width: 1000px){
    grid-template-columns: 1fr 1fr;
    header {
      order: 2;
    }
  }
  header {
    .tag {
      margin-bottom: clamp(8px, calc(12vw/7.68), 16px);
    }
    .paragraph {
      margin: clamp(16px, calc(20vw/7.68), 28px) 0 clamp(28px, calc(36vw/7.68), 48px);
      p:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }
  .list {
    details {
      &:not(:last-child) {
        margin-bottom: clamp(12px, calc(16vw/7.68), 20px);
      }
      border-radius: 28px;
      border: 1px solid #E9E9E9;
      &[data-opened="false"] {
        &:focus-within,
        .summary:hover {
          .arrow {
            transform: rotate(45deg) !important;
          }
        }
      }
      background: rgba(255, 255, 255, .4);
      backdrop-filter: blur(4px);
      transition: background-color .3s, border-color .3s;
      &:hover,
      &:focus-within {
        background: rgba(255, 255, 255, .6);
        border-color: var(--neutral-100);
      }
      &[data-opened="true"]{
        summary {
          cursor: default;
        }
        background: rgba(255, 255, 255, .8);
        border-color: var(--neutral-100);
      }
      summary {
        padding: 20px clamp(16px, calc(36vw/7.68), 36px);
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(calc(24rem/16), calc(32vw/7.68), calc(32rem/16));
        .arrow {
          flex-shrink: 0;
          transition: transform .6s var(--easing);
        }
      }
      .content {
        overflow: hidden;
        border-radius: 28px;
        .description {
          padding: 0 clamp(16px, calc(36vw/7.68), 36px);
          margin-bottom: clamp(16px, calc(24vw/7.68), 32px);
        }
        .shape {
          width: calc(100% + 2px);
          margin-left: -1px;
          height: auto;
          margin-bottom: -10%;
          z-index: 2;
          position: relative;
        }
        img {
          display: block;
        }
      }
    }
  }
}
.render {
  overflow: hidden;
  margin: clamp(49px, calc(56vw/7.68), 120px) auto clamp(-120px, calc(-56vw/7.68), -49px);
  z-index: -1;
  pointer-events: none;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1/1.1;
  position: relative;
  .placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 599px){
    max-width: unset;
    width: calc(100% + (var(--pageMargin) * 2));
    margin-left: calc(var(--pageMargin) * -1);
    margin-right: calc(var(--pageMargin) * -1);
    aspect-ratio: 1/.6;
  }
  position: relative;
}