.wrapper {
  overflow: hidden;
}
.backBtn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: clamp(calc(16rem/16), calc(20vw/7.68), calc(20rem/16));
  margin-right: auto;
  margin-bottom: clamp(40px, calc(48vw/7.68), 64px);
}
.progressbar {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  background-color: var(--neutral-300);
  overflow: hidden;
  .bar {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(270deg, #14E5D7 0%, #00C2B5 100%);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s var(--easing);
  }
}