.wrapper {
  width: 90%;
  aspect-ratio: 1/1;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  &.large {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    aspect-ratio: 1/.5;
  }
  background: linear-gradient(315deg, rgba(232, 232, 232, .5), rgba(255, 255, 255, 0));
  border-radius: clamp(5px, calc(10vw/7.68), 14px);
  padding: clamp(1px, calc(2vw/7.68), 2px);
  gap: clamp(1px, calc(2vw/7.68), 2px);
  &.loading {
    pointer-events: none;
    animation: wrapperLoading 2s infinite;
    @keyframes wrapperLoading {
      50% {
        opacity: .6;
      }
    }
    > div {
      animation: itemLoading 1s infinite;
      @keyframes itemLoading {
        50% {
          opacity: .4;
        }
      }
    }
  }
  > div {
    border-radius: clamp(4px, calc(8vw/7.68), 12px);
    background-color: rgba(255,255,255,.8);
    transition: opacity .1s .5s;
    &:hover {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}