.wrapper {
  width: 100%;
  max-width: calc(1000rem/16);
  margin: 0 auto;
  header {
    max-width: calc(790rem/16);
    margin: 0 auto;
    text-align: center;
    .paragraph {
      margin-top: clamp(16px, calc(20vw/7.68), 28px);
    }
    .hint {
      color: var(--neutral-650);
      margin-top: clamp(12px, calc(16vw/7.68), 28px);
      font-size: 1rem;
    }
  }
}
.nextStepBtn {
  margin-top: 48px;
  text-align: center;
  @media (max-width: 1024px) and (min-width: 768px){
    margin-left: auto;
    width: fit-content;
  }
}