.wrapper {
  ul {
    list-style-type: none;
    display: grid;
    @media (min-width: 1000px){
      grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 12px 24px;
    perspective: 800px;
    li {
      padding: clamp(20px, calc(28vw/7.68), 36px) clamp(16px, calc(24vw/7.68), 28px);
      border-radius: 12px;
      background-color: rgba(255,255,255,.6);
      border: 1px solid var(--neutral-300);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 16px;
      align-items: start;
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 5px 13px rgba(20,229,215,.2);
        border-radius: inherit;
        opacity: .5;
        transition: opacity .3s;
      }
      transform: rotateX(5deg);
      transition: transform .3s;
      &:hover {
        transform: translateY(-5px);
        &::before {
          opacity: 1;
        }
      }
      .number {
        background: linear-gradient(270deg, #14E5D7, #00C2B5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(calc(48rem/16), calc(64vw/7.68), calc(96rem/16));
        line-height: 1;
      }
      .title {
        color: var(--neutral-700);
        font-size: clamp(calc(16rem/16), calc(16vw/7.68), calc(20rem/16));
        margin-left: auto;
        align-self: center;
      }
      .description {
        font-size: clamp(calc(24rem/16), calc(24vw/7.68), calc(32rem/16));
        line-height: 125%;
        grid-column: 3/1;
      }
    }
  }
}