.wrapper {
  margin-top: calc((clamp(20px, calc(28vw/7.68), 36px) + clamp(58px, calc(64vw/7.68), 64px) + clamp(34px, calc(48vw/7.68), 82px)) * -1);
  .render {
    width: 100%;
    height: calc(clamp(300px, calc(400vw/7.68), 550px) + clamp(20px, calc(28vw/7.68), 36px) + clamp(58px, calc(64vw/7.68), 64px) + clamp(34px, calc(48vw/7.68), 82px));
    margin-bottom: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > div:last-child {
      pointer-events: none !important;
    }
    position: relative;
    .placeholder {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 999px) {
      width: calc(100% + var(--pageMargin) * 2);
      margin-left: calc(var(--pageMargin) * -1);
      margin-right: calc(var(--pageMargin) * -1);
      margin-bottom: clamp(-10%, calc(-30vw/4), -5%);
    }
  }
  header {
    max-width: calc(826rem/16);
    margin: 0 auto;
    text-align: center;
    .paragraph {
      margin: clamp(16px, calc(20vw/7.68), 28px) 0 clamp(28px, calc(36vw/7.68), 48px);
      p:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }
}