.wrapper {
  margin-top: calc((clamp(20px, calc(28vw/7.68), 36px) + clamp(58px, calc(64vw/7.68), 64px) + clamp(34px, calc(48vw/7.68), 128px)) * -1);
  .render {
    width: 100%;
    height: calc(400px + clamp(20px, calc(28vw/7.68), 36px) + clamp(58px, calc(64vw/7.68), 64px) + clamp(34px, calc(48vw/7.68), 128px));
    margin-bottom: clamp(16px, calc(24vw/7.68), 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:not(:has(div)){
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,.4);
        opacity: 0;
        animation: opacity 1s infinite;
        @keyframes opacity {
          50% {
            opacity: 1;
          }
        }
      }
    }
    svg {
      margin-top: calc((clamp(20px, calc(28vw/7.68), 36px) + clamp(58px, calc(64vw/7.68), 64px) + clamp(34px, calc(48vw/7.68), 128px)) / 2);
      width: 80%;
      height: 80%;
      position: absolute;
      z-index: -2;
    }
    @media (max-width: 999px) {
      width: calc(100% + var(--pageMargin) * 2);
      margin-left: calc(var(--pageMargin) * -1);
      margin-right: calc(var(--pageMargin) * -1);
    }
  }
  header {
    max-width: calc(826rem/16);
    margin: 0 auto;
    text-align: center;
    .paragraph {
      margin: clamp(16px, calc(20vw/7.68), 28px) 0 clamp(28px, calc(36vw/7.68), 48px);
      p:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }
}