*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-100: #FFFFFF;
  --neutral-200: #FCFCFC;
  --neutral-300: #E8E8E8;
  --neutral-400: #D0CECE;
  --neutral-500: #ABAAAA;
  --neutral-600: #7F7E7E;
  --neutral-650: #767575;
  --neutral-700: #5F5E5E;
  --neutral-800: #434242;
  --neutral-900: #1B1B1B;
  
  --gradients-100: linear-gradient(90deg, #CFFA5B 28%, #EAFFAF);
  --gradients-200: linear-gradient(270deg, #D2FB67, #00C2B5);
  --gradients-300: linear-gradient(270deg, #D2FB67 0%, #00C2B5 100%);
  --gradients-400: linear-gradient(45deg, #F5FE81 0%, #A8C2BE 100%);

  --success-100: #D0FBE3;
  --success-200: #A1F7C6;
  --success-300: #73F2AA;
  --success-400: #44EE8E;
  --success-500: #00D65D;
  --success-600: #11BB5B;
  --success-700: #0D8C44;
  --success-800: #085E2D;
  --success-900: #042F17;

  --error-100: #FFE5E5;
  --error-200: #FF9999;
  --error-300: #FF6666;
  --error-400: #FF3333;
  --error-500: #F00000;
  --error-550: #ec0000;
  --error-600: #CC0000;
  --error-700: #990000;
  --error-800: #660000;
  --error-900: #330000;

  --easing: cubic-bezier(.65, 0, .05, 1);

  --pageMargin: clamp(16px, calc(40vw/7.68), 40px);
  @media (max-width: 899px) and (min-width: 649px) {
    --pageMargin: clamp(40px, calc(80vw/7.68), 80px);
  }
}

body.scrollLock {
  overflow: hidden;
  touch-action: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  font-size: clamp(1rem, calc(20vw/7.68), calc(20rem/16));
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 1px solid var(--neutral-800);
  outline-offset: 5px;
}

main,
.max-width {
  max-width: 1280px;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}

svg {
  display: block;
}

canvas {
  touch-action: pan-y;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

sup {
  font-size: .6em;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}

summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 130%;
  color: var(--neutral-900);
  img {
    height: .85em;
    width: auto;
  }
  em {
    background: var(--gradients-100);
    font-style: normal;
    border-radius: 10px;
    padding: 0 8px;
    position: relative;
    z-index: -1;
  }
}
p {
  line-height: 145%;
}

h1, h2 {
  font-size: clamp(calc(32rem/16), calc(48vw/7.68), calc(48rem/16));
  strong {
    font-weight: 700;
  }
}

.link {
  position: relative;
  font-style: italic;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--primary-800);
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}

.sec-wo-margin {
  position: relative;
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(98px, calc(112vw/7.68), 240px);
  margin: clamp(34px, calc(48vw/7.68), 128px) auto clamp(86px, calc(98vw/7.68), 240px);
  color: var(--neutral-800);
}

.unorderedList {
  list-style-type: none;
  margin-top: 16px;
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    > svg {
      height: 1.4em;
    }
  }
}

.swiper-wrapper {
  align-items: center;
  .swiper-slide {
    width: auto;
    max-width: calc(100% - 84px);
  }
}

body:has(.blobEffectStack:hover) .mouseEffect {
  z-index: 1;
  opacity: .2;
}
body:has(a:hover, button:hover, details[data-opened="false"] summary:hover, label:hover) .cursor rect {
  transform: scale(1.6);
}
body:has(a:active, button:active, details[data-opened="false"] summary:active, label:active) .cursor rect {
  transform: scale(0);
}
body:has(.CustomLink:hover) .cursor rect {
  transform: scale(0) !important;
}
body:has(footer:hover) .cursor {
  mix-blend-mode: color-dodge;
}
body:has(#contactPage:hover) .mouseEffect {
  opacity: .2;
}