.wrapper {
  display: grid;
  align-items: center;
  @media (min-width: 1000px){
    grid-template-columns: 1.1fr 1fr;
  }
  gap: 32px;
  header {
    .paragraph {
      margin: clamp(16px, calc(20vw/7.68), 28px) 0 clamp(28px, calc(36vw/7.68), 48px);
    }
  }
  .renders {
    min-width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 80%;
      height: 80%;
      position: absolute;
      z-index: -1;
    }
    position: relative;
    @media (max-width: 999px){
      margin: 0 calc(var(--pageMargin) * -1);
    }
  }
}