.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px clamp(32px, calc(48vw/7.68), 48px);
  p {
    font-size: clamp(calc(24rem/16), calc(32vw/7.68), calc(32rem/16));
    color: var(--neutral-800);
    margin-bottom: clamp(16px, calc(28vw/7.68), 28px);
  }
  .list {
    display: grid;
    gap: 12px;
  }
}