.modalContainer {
  position: absolute;
  width: clamp(128px, calc(164vw/7.68), 164px);
  height: clamp(128px, calc(164vw/7.68), 164px);
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  .modalSlider {
    width: 100%;
    height: 100%;
    transition: transform .6s var(--easing);
    display: flex;
    flex-direction: column;
    .item {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}