.wrapper {
  border-radius: 13px;
  background-color: var(--neutral-300);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 899px){
    grid-template-columns: 1fr 1fr;
  }
  gap: 2px;
  padding: 2px;
  .item {
    height: clamp(126px, calc(126vw/7.68), 186px);
    img {
      padding: 1rem;
    }
    border-radius: 11px;
    background-color: var(--neutral-100);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}