.wrapper {
  border-radius: 13px;
  background-color: var(--neutral-300);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 899px){
    grid-template-columns: 1fr 1fr;
  }
  gap: 2px;
  padding: 2px;
  .item {
    height: clamp(126px, calc(126vw/7.68), 186px);
    &, a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      width: 100%;
      height: 100%;
    }
    img {
      padding: 1rem;
    }
    border-radius: 11px;
    background-color: var(--neutral-100);
    transition: background-color .2s .2s, filter .3s;
    &:hover {
      background-color: var(--neutral-300);
      transition: background-color .2s 0s, filter .3s;
    }
    &:not(:hover){
      filter: grayscale(100%);
    }
  }
}